# NOTE: This file is used by ansible-test to override specific Ansible constants
# This file is used by `ansible-test network-integration`

[defaults]
host_key_checking = False
#log_path = logs.out
inventory = inventory
retry_files_enabled = False
interpreter_python = python

[persistent_connection]
connect_timeout = 100
command_timeout = 100
#log_message = True
